-# app/views/repositories/index.html.haml
%div{ class: "repo-files-panel max-w-4xl mx-auto flex flex-col h-full py-4 overflow-hidden"}
  %div{ class: "rounded-xl bg-gray-50 p-6 text-gray-600" }
    No repository found yet, please create one first.

  - if @selected_id.present?
    = link_to "Files",
      repository_files_path(repository_id: @selected_id, path_filter: @path_filter),
      data: { turbo_frame: "repo_right" },
      class: "underline ml-2"