-# app/views/repositories/index.html.haml
%div{ class: "p-3 text-sm text-gray-600" }
  Select a repository on the left, or open:
  - if @selected_id.present?
    = link_to "Files",
      repository_files_path(repository_id: @selected_id, path_filter: @path_filter),
      data: { turbo_frame: "repo_right" },
      class: "underline ml-2"