-# app/views/repositories/index.html.haml

%div{ class: "flex h-[85vh]" }
  -# Left: repositories (30%)
  %div{ class: "w-[30%] rounded-lg bg-white overflow-hidden flex flex-col" }
    = render "repositories/repo_dropdown"

  -# Divider
  %div{ class: "w-px bg-gray-300 mx-4" }

  -# Right: files (70%)
  %div{ class: "w-[70%] rounded-lg bg-white overflow-hidden flex flex-col" }
    = render "repository_files/file_list"