-# app/views/repositories/new.html.haml
%div{ class: "max-w-3xl mx-auto p-6" }
  %div{ class: "flex items-center justify-between px-3 my-8" }
    %h1{ class: "text-xl font-semibold" } New repository
    = link_to repositories_path,
      class: "icon-button",
      data: tooltip_data(tip: "Back") do
      = svg_icon("arrow-uturn-left", class_name: "w-6 h-6")

  = render "repositories/form"