-# app/views/wiki/show.html.haml
- tags = %w[h1 h2 h3 h4 h5 h6 p br hr a img ul ol li blockquote pre code table thead tbody tr th td strong em del]
-attrs =  %w[href src alt title class id]
%div.mx-auto.max-w-5xl.px-4.py-8
  %article.markdown-body.max-w-none
    = sanitize(@content_html, tags: tags, attributes: attrs)