- content_for :title, "Editing occurrence review"

%h1 Editing occurrence review

= render "form", occurrence_review: @occurrence_review

%br

%div
  = link_to "Show this occurrence review", @occurrence_review
  |
  = link_to "Back to occurrence reviews", occurrence_reviews_path
