-# app/views/scan_runs/index.html.haml

%div{ class: "max-w-6xl mx-auto p-6 space-y-4" }
  %div{ class: "flex items-center justify-between" }
    %div{ class: "text-lg font-semibold" } Scan Runs
    %div{ class: "text-sm text-gray-600" }
      = link_to repository_files_path(repository_id: @selected_id),
        class: "icon-button",
        data: tooltip_data(tip: "Back") do
        = svg_icon("arrow-uturn-left", class_name: "w-6 h-6")

  %div{
    class: "space-y-3",
    data: {
      controller: "scan-runs",
      scan_runs_channel_value: "ScanRunsChannel"
    }
  }
    - @scan_runs.each do |sr|
      = render partial: "scan_run", locals: { scan_run: sr, progress: @progress_by_id[sr.id] }

  = render "shared/pagination", collection: @scan_runs