- content_for :title, "Editing lexeme processor"

%h1 Editing lexeme processor

= render "form", lexeme_processor: @lexeme_processor

%br

%div
  = link_to "Show this lexeme processor", @lexeme_processor